
/*GAME PAGE STYLES*/
.gameFields-container{
    display: flex;
    justify-content: space-around;
}
.game-field-container{

    border: 1px solid cadetblue;
    display: grid;
    grid-template-columns: repeat(10,30px);
    grid-template-rows: repeat(10,30px);
    grid-column-gap: 1px;
}
.game-field-container > div{
    border: 1px solid cadetblue;
}
/*CELL STYLES*/
.ship{
    background-image: url("../static/ship.svg");
    background-size: contain;
}
.hurt{
    background-image: url("../static/strike.svg");
    background-size: contain;
}
.fall{
    background-image: url("../static/fall.svg");
    background-size: contain;
}
.kill{
    background-color: red;
}
.journal-container{
    width: 25%;
}
.journal{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.record{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.show{
    width: 15%;
    height: 10%;
    border: 1px dashed purple;
    background-color: blueviolet;
    display: block;
    position: absolute;
    margin: 40% auto;
}
.hide{
    display: none;
}
@media screen and (max-width: 600px){
    .gameFields-container{
        flex-direction: column;
    }
}